<hb-header>
	<p levels>publishers / {{ publisher.name }}</p>

	<div content>
		<p>Publisher Details</p>
	</div>
</hb-header>

<p class="data-header">Edit {{ publisher.name }}</p>
<div class="data-container">
	<form [formGroup]="publisherForm">
		<div class="row form-group">
			<div class="col-sm-6">
				<label>Name</label>
				<input formControlName="name" type="text" class="form-control" placeholder="Name">
				<p *ngIf="!publisherForm.get('name')?.valid && publisherForm.get('name')?.dirty"  class="error">This field is needs to have more than 3 characters!</p>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<button [disabled]="publisherForm.invalid" (click)="updatePublisher()" type="submit" class="btn btn-primary float-right">Update Publisher</button>
					<button (click)="publisherForm.reset()" class="btn btn-default float-right">Reset</button>
				</div>
				<div class="col-sm-2">
					<button [disabled]="publisherForm.invalid" (click)="deletePublisher()" class="btn btn-danger float-left">Delete</button>
				</div>
			</div>
		</div>
	</form>
</div>