<hb-header>
	<p levels>authors / new author</p>

	<div content>
		<p>Author Details</p>
	</div>
</hb-header>

<p class="data-header">Add New Author</p>
<div class="data-container">
	<form [formGroup]="authorForm">
		<div class="row form-group">
			<div class="col-sm-4">
				<label>Name</label>
				<input formControlName="name" type="text" class="form-control" placeholder="Name">
				<p *ngIf="!authorForm.get('name')?.valid && authorForm.get('name')?.dirty"  class="error">This field is needs to have more than 3 characters!</p>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button [disabled]="authorForm.invalid" (click)="addAuthor()" type="submit" class="btn btn-primary float-right">Add Author</button>
					<button (click)="authorForm.reset()" class="btn btn-default float-right">Reset</button>
				</div>
			</div>
		</div>
	</form>
</div>