<hb-header>
	<p levels>authors / {{ author.name }}</p>

	<div content>
		<p>Author Details</p>
	</div>
</hb-header>
<div class="container">
	<form [formGroup]="authorForm">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6 data-container">
				<div class="row">
					<mat-form-field appearance="fill">
						<mat-label>Name</mat-label>
						<input matInput placeholder="Author Name" [formControl]="name" required>
						<mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
					</mat-form-field>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<button [disabled]="authorForm.invalid" (click)="updateAuthor()" type="submit" mat-raised-button color="primary">Update Author</button>
					</div>
					<div class="col-sm-4">
						<button (click)="resetToOriginal()" mat-raised-button>Reset</button>
					</div>
					<div class="col-sm-4">
						<button [disabled]="authorForm.invalid" (click)="deleteAuthor()" mat-raised-button color="warn">Delete Author</button>
					</div>
				</div>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</form>
</div>