<hb-header>
	<p levels>books</p>

	<div content>
		<p>List of Books</p>
	</div>
</hb-header>
<div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <button class="button-add" mat-raised-button (click)="goToNewBook()">Add New Book</button>
        <mat-form-field appearance="standard" class="filter-input">
          <mat-label>Search By Title</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Title" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort class="hb-table">
            
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>
  
            <ng-container matColumnDef="author">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
              <td mat-cell *matCellDef="let row"> {{row.author.name}} </td>
            </ng-container>
  
            <ng-container matColumnDef="publisher">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Publisher </th>
              <td mat-cell *matCellDef="let row"> {{row.publisher.name}} </td>
            </ng-container>
  
            <ng-container matColumnDef="room">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Room </th>
              <td mat-cell *matCellDef="let row"> {{row.shelf.room.name}} </td>
            </ng-container>
  
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let row"> {{row.status.statusType.name}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToBookDetails(row)" class="data"></tr>
            
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No book with name {{input.value}}</td>
            </tr>
          </table>  
            
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of authors" class="hb-table"></mat-paginator>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
