<div class="sidebar">
    <img src="../../../assets/logo.png" class="logo">
    <nav>
        <ul>
            <li [routerLink]="['/authors']" [routerLinkActive]="'active'">authors</li>
            <li [routerLink]="['/publishers']" [routerLinkActive]="'active'">publishers</li>
            <li [routerLink]="['/settings']" [routerLinkActive]="'active'">settings</li>
            <li [routerLink]="['/books']" [routerLinkActive]="'active'">books</li>
            <li [routerLink]="['/test']" [routerLinkActive]="'active'">test</li>
        </ul>
    </nav>
</div>